@{
    ViewData["Title"] = "Index";
}

<br>

<!--Данные отправляются POST запросом-->
<form action="/Data/Create" method="post">
    <input type="text" name="message" />
    <input type="submit" value="Send To Server" />
</form>

<!--Данные отправляются GET запросом в маршруте-->
<a href="/Data/Catalog/Some-Film">Route Data</a>
<br />

<!--Данные отправляются GET запросом в адресной строке-->
<a href="/Data/Users?id=100>Query String Data</a>  