@{
    ViewData["Title"] = "Главная";
}

<header class="hero-nav hero-nav__inner header_static"></header>
<div class="mt-0">
    <hr />
        <h1 class="tracking-in-expand noselect text-center">Добро пожаловать на сайт Школы "Елена-Сервис"!</h1>
    <hr />
</div>
<div class="text-left pb-3 row">
    <div class="col-9">
        <p>
            Школа «Елена–Сервис» была образована 27 декабря 1992 года в городе Казании и является
            <strong>
                одной из первых негосударственных школ в постсоветской России.
            </strong>
        </p>
        <p>
            В школе предоставляется возможность освоения курса среднего
            общего (полного) образования, а также подготовки к поступлению в высшие учебные
            заведения.
        </p>
        <p>
            Казанская школа «Елена – Сервис» является независимой школой совместного
            обучения, в которой учится около <strong>400 школьников</strong> из Казани, иных городов
            России и других стран.
        </p>
        <p>
            <a asp-controller="Home" asp-action="Location" class="link-info">Расположена школа</a> в тихой зеленой зоне в центре Московского района
            города Казани, недалеко от пересечений таких крупных улиц, как <strong>Декабристов</strong> и <strong>Гагарина</strong>.
        </p>
        <p>
            Школа состоит из 2-х структурных подразделений: <strong>
                самой школы с 1 по 11 класс и дошкольного
                отделения – группы детского сада
            </strong>.
        </p>
        <p>
            Большинство учеников обучается на дневном отделении, но для желающих предусмотрено
            заочное отделение и экстернат.
        </p>
        <p>
            Школа «Елена – Сервис» имеет <strong>государственную аккредитацию</strong> и <strong>лицензию</strong>.
            <strongr>
                Выпускники школы «Елена – Сервис» получают аттестаты государственного
                образца Министерства образования и науки Российской Федерации.
        </p>
        <p>
            Учебная программа, включающая преподавание всех обязательных
            предметов, утверждена Министерством образования и науки РФ и РТ.
            <strong>Продолжительность уроков 45 минут</strong>. Учебные и каникулярные периоды те же, что
            и для всех школ России.
        </p>
    </div>
    <div class="col-3">
        <div class="card" style="max-width: 20rem; height: auto;">
            <div class="card-header">В школьные помещения входят <strong>18 учебных кабинетов</strong>, а также:</div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="ul-no-space">
                        <li><i>Компьютерный класс</i></li>
                        <li><i>WIFI зона</i></li>
                        <li><i>Спортивный зал</i></li>
                        <li><i>Актовый зал</i></li>
                        <li><i>Изостудия</i></li>
                        <li><i>Хореографический зал</i></li>
                        <li><i>Библиотека</i></li>
                        <li><i>Медицинский кабинет</i></li>
                        <li><i>Процедурный кабинет</i></li>
                        <li><i>Изолятор</i></li>
                        <li><i>Кабинет психолога</i></li>
                        <li><i>Индивидуальные кабинеты (в том числе и для индивидуальных занятий музыкой)</i></li>
                        <li><i>Кабинет логопеда</i></li>
                        <li><i>Школьное кафе (160 посадочных мест)</i></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <p>
        Площадь пришкольного участка 9204,3 кв. м. На его территории располагается
        физкультурно-спортивная зона, включающая в себя площадку
        для баскетбола, волейбола, мини футбола и тенниса. Предусмотрено использование стадиона и
        плавательного бассейна, расположенных неподалеку от школы. Зоны отдыха включают
        в себя скамейки, качели, игровые комплексы. Вся территория условно поделена
        на групповые площадки для детей дошкольного, младшего школьного и старшего
        школьного возрастов.
        Учебная программа и активный отдых в школе построены таким образом,
        чтобы обеспечить умственное и физическое развитие, эстетическое,
        моральное и общественное воспитание каждого учащегося из каждой
        возрастной группы.
    </p>
    <p>
        <strong>Небольшие классы (до 15 человек)</strong>, консультации учебного и личного характера,
        гармоничное сочетание обучения и свободного времени способствуют
        выработке у учащихся чувства ответственности за свое развитие в
        соответствии с такими понятиями, как честность, справедливость и взаимное уважение.
    </p>
</div>