@{
    ViewData["Title"] = "Главная";
}

<header class="hero-nav hero-nav__inner header_static"></header>

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="display-4">Здравствуйте</h1>
    <div>Информация отсутсвует. Пока...</div>
</div>
