@{
    ViewData["Title"] = "Режим дня";
}

<hr />
<h1 class="text-center tracking-in-expand noselect">Режим дня и расписание уроков</h1>
<hr />

<div class="row">
    <div class="col-7">
        <p>
            Школа "Елена-Сервис" работает <b>с 7:00 до 19:00</b> (включая дошкольное отделение).
        </p>
        <p>
            Первый урок начинается <b>в 8:00</b>. Уроки длятся <b>по 45 минут</b>. После первого урока
            завтракает начальная школа, после второго урока - средние и старшие классы. После пятого
            и шестого урока - обед. Между уроками перемены <b>по 10 – 15 минут</b>. Далее отдых, прогулка
            на свежем воздухе, подвижные игры и т.д. <b>В 14:45</b> начинаются выполнение домашнего задания,
            часы самоподготовки, консультации и индивидуальные занятия. <b>В 15:30</b> - полдник.
        </p>
        <p>
            Во второй половине дня проводятся занятия в студиях и секциях по каратэ, музыке,
            танцам, ИЗО, шахматам, компьютерным технологиям, а также посещаются плавательный бассейн, театр, кино и т.д.
        </p>
    </div>
    <div class="col-5 row justify-content-center text-center">
        <table class="table table-hover table-sm w-100">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Понедельник - Пятница</th>
                    <th>Суббота</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="table-primary">1 урок</th>
                    <td>8:00-8:45</td>
                    <td>8:00-8:45</td>
                </tr>
                <tr>
                    <th class="table-primary">2 урок</th>
                    <td>9:00-9:45</td>
                    <td>8:55-9:40</td>
                </tr>
                <tr>
                    <th class="table-primary">3 урок</th>
                    <td>10:00-10:45</td>
                    <td>9:55-10:40</td>
                </tr>
                <tr>
                    <th class="table-primary">4 урок</th>
                    <td>10:55-11:40</td>
                    <td>10:50-11:35</td>
                </tr>
                <tr>
                    <th class="table-primary">5 урок</th>
                    <td>11:55-12:40</td>
                    <td>11:45-12:30</td>
                </tr>
                <tr>
                    <th class="table-primary">6 урок</th>
                    <td>12:55-13:40</td>
                    <td>12:35-13:20</td>
                </tr>
                <tr>
                    <th class="table-primary">7 урок</th>
                    <td>13:55-14:40</td>
                    <td></td>
                </tr>
                <tr>
                    <th class="table-primary">8 урок</th>
                    <td>14:45-15:30</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>