@using FRDZSchool.Models.ViewModels;
@using FRDZSchool.Models.ViewModels.DeleteModels;
@model StudentDeleteModel
@{
    ViewData["Title"] = "Удаление";
}

<div align="center">
    <div class="container p-4">
        <form method="post" asp-action="Delete">
            <input asp-for="Id" hidden />
            <div class="row pb-3">
                <h1 class="text-danger text-center display-7 tracking-in-expand">Вы действительно хотите удалить ученика из списка?</h1>
            </div>
            <div class="col-lg-7 col-md-9 col-sm-11 col-12 element-animation">
                <div class="mb-3">
                    <div class="row g-3">
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Lastname" asp-for="Lastname" readonly>
                            <label for="floatingInput" asp-for="Lastname"></label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Name" asp-for="Name">
                            <label for="floatingInput" asp-for="Name"></label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Fathername" asp-for="Fathername" readonly>
                            <label for="floatingInput" asp-for="Fathername"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-floating col-4">
                            <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday" readonly>
                            <label for="floatingInput" asp-for="Birthday"></label>
                        </div>
                        <div class="form-floating mb-2 col">
                            <input class="form-control" placeholder="Sex" asp-for="Sex" readonly>
                            <label for="floatingInput" asp-for="Sex"></label>
                        </div>
                        <div class="form-floating col-6">
                            <input class="form-control" placeholder="GradeName" asp-for="GradeName" readonly>
                            <label for="floatingInput" asp-for="GradeName"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <a asp-asp-controller="Student" asp-action="Index" class="btn btn-primary w-100">Нет, вернуться к списку</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">Да, удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
