@using FRDZSchool.Models.DatabaseModels
@model Teacher
@{
    ViewData["Title"] = "Удаление";
}

<div align="center">
    <div class="container p-4">
        <form method="post" asp-action="Delete">
            <input asp-for="Id" hidden />
            <div class="row pb-3">
                <h1 class="text-danger text-center display-7 tracking-in-expand">Вы действительно хотите удалить учителя из списка?</h1>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-12 element-animation">
                <div class="mb-3">
                    <div class="row g-3">
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Lastname" asp-for="Lastname" readonly>
                            <label for="floatingInput" asp-for="Lastname"></label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Name" asp-for="Name" readonly>
                            <label for="floatingInput" asp-for="Name"></label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Fathername" asp-for="Fathername" readonly>
                            <label for="floatingInput" asp-for="Fathername"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-floating mb-3 col-5">
                            <input class="form-control" placeholder="Post" asp-for="Post" readonly>
                            <label for="floatingInput" asp-for="Post"></label>
                        </div>
                        <div class="form-floating mb-3 col-5">
                            <input class="form-control" placeholder="Qualification" asp-for="Qualification" readonly>
                            <label for="floatingInput" asp-for="Qualification"></label>
                        </div>
                        <div class="form-floating mb-3 col-2">
                            <input type="number" min="0" max="60" class="form-control" placeholder="Experience" asp-for="Experience" readonly>
                            <label for="floatingInput" asp-for="Experience"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="PhoneNumber" asp-for="PhoneNumber" readonly>
                            <label for="floatingInput" asp-for="PhoneNumber"></label>
                        </div>
                        <div class="form-floating col">
                            <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday" readonly>
                            <label for="floatingInput" asp-for="Birthday"></label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="PhotoUrl" asp-for="PhotoUrl" readonly>
                        <label for="floatingInput" asp-for="PhotoUrl"></label>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <a asp-asp-controller="Teacher" asp-action="Index" class="btn btn-primary w-100">Нет, вернуться к списку</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">Да, удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
