body, html {
    margin: 0;
    padding: 0;
    background: white;
}

.container {
    position: relative;
    margin: 0px auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 1);
    height: 92px;
}

.header_sticky {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.header_static {
    position: static;
}

/*========================================================================================*/

*, ::before, ::after {
    box-sizing: border-box;
    font: 300 1em/1.5, serif;
    padding: 0;
    margin: 0;
}

.content {
    margin: auto;
    margin-bottom: 150px; /* Same height as footer */
}

.fixed_footer {
    width: 100%;
    height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -100;
}

    .fixed_footer p {
        column-count: 1;
        column-gap: 50px;
        font-size: 1em;
        font-weight: 300;
    }

/*=====================================================================================*/

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: #1a1a1a;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0em;
    box-shadow: inset 1px 1px 15px #1a1a1a;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ffffff;
        box-shadow: inset 5px 10px 25px #1a1a1a;
    }

/*===============================================================================*/

.hero-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 0px;
    background-image: url(https://architizer-prod.imgix.net/media/1392406619295871_PHG_EXT_DM02_DSC_9701.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

    .hero-nav .hero-nav__inner {
        z-index: 1;
    }

    .hero-nav:before {
        content: "";
        background: rgba(26, 26, 26, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background 500ms;
    }

    .hero-nav.fixme:before {
        background: rgba(26, 26, 26, 1);
    }

/*================================================================================================================*/

/*[data-target="#mainMenu"] {
    position: relative;
    z-index: 999;
}

#mainMenu li > a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.main-header.fixed-nav #mainMenu li > a {
    color: #fff;
    text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
    margin-right: 30px;
}

#mainMenu li > a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #fff;
    bottom: -6px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li > a::before {
    background: #000;
}

.main-header {
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .main-header.fixed-nav {
        top: 0;
        background: #fff;
        -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
        box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .main-header.fixed-nav .navbar-brand > img:last-of-type {
            display: block;
        }

        .main-header.fixed-nav .navbar-brand > img:first-of-type {
            display: none;
        }

.navbar-brand {
    color: #fff;
}

.main-header .navbar-brand img {
    max-width: 40px;
    animation: fadeInLeft 0.4s both 0.4s;
}

@media (max-width: 991px) {
    .collapse.in {
        display: block !important;
        padding: 0;
        clear: both;
    }

    .navbar-toggler {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 25px;
        right: 0;
        border: none;
        border-radius: 0;
        outline: none !important;
    }

    .main-header .navbar {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .main-header .navbar-nav {
        margin-top: 70px;
    }

        .main-header .navbar-nav li .nav-link {
            text-align: center;
            padding: 20px 15px;
            border-radius: 0px;
        }

    .main-header .navbar-toggler .icon-bar {
        background-color: #fff;
        margin: 0 auto 6px;
        border-radius: 0;
        width: 30px;
        height: 3px;
        position: absolute;
        right: 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .main-header .navbar .navbar-toggler .icon-bar:first-child {
        margin-top: 3px;
    }

    .main-header .navbar-toggler .icon-bar-1 {
        width: 10px;
        top: 0px;
    }

    .main-header .navbar-toggler .icon-bar-2 {
        width: 16px;
        top: 12px;
    }

    .main-header .navbar-toggler .icon-bar-3 {
        width: 20px;
        top: 21px;
    }

    .main-header .current .icon-bar {
        margin-bottom: 5px;
        border-radius: 0;
        display: block;
    }

    .main-header .current .icon-bar-1 {
        width: 18px;
    }

    .main-header .current .icon-bar-2 {
        width: 30px;
    }

    .main-header .current .icon-bar-3 {
        width: 10px;
    }

    .main-header .navbar-toggler:hover .icon-bar {
        background-color: #fff;
    }

    .main-header .navbar-toggler:focus .icon-bar {
        background-color: #fff;
    }
}*/

/*===============================================================================================*/

.megamenu {
    position: static;
}

    .megamenu .dropdown-menu {
        background: none;
        border: none;
    }

code {
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

/*===============================================================================================*/

.center {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card {
    width: 575px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

    .card .additional {
        position: relative;
        width: 150px;
        height: 100%;
        background: linear-gradient(#1a1a1a, #1a1a1a);
        transition: width 0.4s;
        overflow: hidden;
        z-index: 2;
    }

    .card:hover .additional {
        width: 100%;
    }

    .card .additional .user-card {
        width: 150px;
        height: 100%;
        position: relative;
        float: left;
    }

        .card .additional .user-card::after {
            content: "";
            display: block;
            position: absolute;
            top: 10%;
            right: -2px;
            height: 80%;
            border-left: 2px solid rgba(0,0,0,0.025);
        }

    .card .additional .more-info {
        width: 425px;
        float: left;
        position: absolute;
        left: 150px;
        height: 100%;
    }

        .card .additional .more-info h1 {
            color: #fff;
            margin-bottom: 0;
        }

    .card .additional .coords {
        margin: 0 1rem;
        color: #fff;
    }

    .card .additional .coords span + span {
        float: right;
    }

    .card .additional .stats {
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        top: auto;
        color: #fff;
    }

    .card .additional .stats > div {
        flex: 1;
        text-align: center;
    }

    .card .additional .stats i {
        display: block;
    }

    .card .additional .stats div.title {
        font-weight: bold;
        text-transform: uppercase;
    }

    .card .additional .stats div.value {
        font-weight: bold;
        line-height: 1.5rem;
    }

    .card .general {
        width: 425px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 1rem;
        padding-top: 0;
    }

        .card .general .more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 0.9em;
        }

/*===============================================================================================*/

* {
    cursor: url(~\images\cursor.png) 2 2, default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell-centered {
    text-align: center;
    vertical-align: middle;
}

.vertical-centered {
    vertical-align: middle;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
}

.right-col {
    right: 0px;
}

/*.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 64.2vh;
}

    table thead {
        position: sticky;
        top: 0px;
    }*/

/*.fixtable-fixed {
    position: fixed;
    top: 0;
    background-color: #FCF8E4;
    border-bottom: 1px solid #ddd;
}*/

/*===============================================================================================*/

/*.table_sort th {
    cursor: pointer;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

    th.sorted[data-order="1"]::after,
    th.sorted[data-order="-1"]::after {
        position: absolute;
    }

    th.sorted[data-order="-1"]::after {
        content: "▲"
    }

    th.sorted[data-order="1"]::after {
        content: "▼"
    }*/

/*===============================================================================================*/

.big-icon{
    font-size: 1rem;
}

.big-icon2 {
    font-size: 1.2rem;
}

