<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FRDZ School Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <link rel="stylesheet" href="~/css/Animista.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FRDZ_School_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.3.1/css/rowGroup.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.3.3/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.1.1/css/scroller.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.5.3/css/autoFill.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.6.2/css/colReorder.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="true" />
</head>
<body>
    <header class="header_sticky noselect">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link text-primary" asp-area="Visitor" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="nav-item"><a class="nav-link text-primary" asp-area="Visitor" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Visitor" asp-controller="Home" asp-action="Index">
                                Главная
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-brand dropdown megamenu">
                    <a id="megamneu" href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="navbar-brand dropdown-toggle font-weight-bold" role="button">FRDZ School Web</a>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div aria-labelledby="frdzschoolweb" class="dropdown-menu p-0 m-0">
                            <div class="container">
                                <div class="row bg-primary rounded-0 m-0 shadow-sm">
                                    <div class="col-lg-7 col-xl-8">
                                        <div class="p-4">
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">Образование</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="WeekendSchool">Школа выходного дня</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="PreSchool">Дошкольное отделение (3-7 лет)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="JuniorSchool">Начальная школа (1-4 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="MiddleSchool">Средняя школа (5-9 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="HighSchool">Старшая школа (10-11 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="Additional">Доп. образование</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">График</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Schedule" asp-action="Index">Годовой календарный график</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Regime">Режим дня и расписание уроков</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="HealthAndFood">Здоровье и питание</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <h6 class="font-weight-bold text-white">Ученики и учителя</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="TeacherPage">Педагогический состав</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Exam" asp-action="Index">Выпускники</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <h6 class="font-weight-bold text-white">Другое</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Conditions">Условия приёма</a>
                                                        </li>
                                                        @*                                                    <li class="nav-item">
                                                    <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Document" asp-action="Index">Документы</a>
                                                    </li>
                                                    <li class="nav-item">
                                                    <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Gallery" asp-action="Index">Галерея</a>
                                                    </li>*@
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Location">Расположение школы</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Requisites">Реквизиты</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Info">О сайте</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 mb-4">
                                                    <h6 class="font-weight-bold text-white">Управление данными</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Admin" asp-controller="Teacher" asp-action="Index">Учителя</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Admin" asp-controller="Grade" asp-action="Index">Классы</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Admin" asp-controller="Student" asp-action="Index">Ученики</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Admin" asp-controller="SchoolObject" asp-action="Index">Предметы</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://cdna.artstation.com/p/assets/images/images/014/470/446/large/andreas-rocha-schoolclassroom01.jpg?1544083591)no-repeat; background-size: cover;"></div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div aria-labelledby="frdzschoolweb" class="dropdown-menu p-0 m-0">
                            <div class="container">
                                <div class="row bg-primary rounded-0 m-0 shadow-sm">
                                    <div class="col-lg-7 col-xl-8">
                                        <div class="p-4">
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">Образование</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="WeekendSchool">Школа выходного дня</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="PreSchool">Дошкольное отделение (3-7 лет)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="JuniorSchool">Начальная школа (1-4 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="MiddleSchool">Средняя школа (5-9 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="HighSchool">Старшая школа (10-11 класс)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Education" asp-action="Additional">Доп. образование</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">График</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Schedule" asp-action="Index">Годовой календарный график</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Regime">Режим дня и расписание уроков</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="HealthAndFood">Здоровье и питание</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">Ученики и учителя</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="TeacherPage">Педагогический состав</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Exam" asp-action="Index">Выпускники</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <h6 class="font-weight-bold text-white">Другое</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Conditions">Условия приёма</a>
                                                        </li>
                                                        @*                                                    <li class="nav-item">
                                                    <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Document" asp-action="Index">Документы</a>
                                                    </li>
                                                    <li class="nav-item">
                                                    <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Gallery" asp-action="Index">Галерея</a>
                                                    </li>*@
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Location">Расположение школы</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Requisites">Реквизиты</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link text-small pb-0" asp-area="Visitor" asp-controller="Home" asp-action="Info">О сайте</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://cdna.artstation.com/p/assets/images/images/014/470/446/large/andreas-rocha-schoolclassroom01.jpg?1544083591)no-repeat; background-size: cover;"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <partial name="_LoginPartial" />
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link text-primary" asp-area="Visitor" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="nav-item"><a class="nav-link text-primary" asp-area="Visitor" asp-controller="Home" asp-action="Index">Главная</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="content">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    <footer class="fixed_footer bg-primary noselect text-secondary">
        <div class="content p-4">
            <div class="row">
                <div class="col-3">
                    @DateTime.Now.Year - Elena-Service -  <a asp-controller="Home" asp-action="Info" class="text-secondary">О сайте</a>
                </div>
                <div class="col-4">
                    ЧАСТНОЕ  ОБРАЗОВАТЕЛЬНОЕ  УЧРЕЖДЕНИЕ
                    <br>СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ
                    <br>ШКОЛА  «ЕЛЕНА – СЕРВИС»
                    <br><a asp-controller="Home" asp-action="Location" class="text-secondary">Россия 420039, город Казань, ул. Ак. Королева, д.3</a>
                </div>
                <div class="col-2">
                    <strong>Факс:</strong> <a href="tel:+78435908767" class="text-secondary">+7 (843) 590–87-67</a>
                    <strong>Телефоны:</strong>
                    <ul class="ul-no-space">
                        <li><a href="tel:2494192" class="text-secondary">249-51-93</a></li>
                        <li><a href="tel:2494192" class="text-secondary">249-41-92</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <strong>E-Mail:</strong> elena_servis@mail.ru<br>
                    <strong>Сайт:</strong> www.elenaservis.ru<br>
                    <strong>Telegram:</strong> <a href="https://t.me/elena_servis_kzn" class="text-secondary">https://t.me/elena_servis_kzn</a><br>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.3.1/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.3.3/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.1.1/js/dataTables.scroller.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.5.3/js/dataTables.autoFill.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.5.3/js/autoFill.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.6.2/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>