@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<header>
    <div class="mt-5">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">У вас нет доступа.</p>
    </div>
</header>
