@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}


<div class="row mt-5 justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center noselect">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="noselect">Эл.почта</label>
                <span asp-validation-for="Input.Email" class="text-danger noselect"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="noselect">Пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger noselect"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="noselect">Подтверждение проля</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger noselect"></span>
            </div>
            <div class="form-floating mb-3 noselect">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                    <option selected disabled>Роль</option>
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary noselect">Зарегистрировать</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
