@model Teacher
@{
    ViewData["Title"] = "Добавление";
}

<div align="center">
    <div class="container p-4">
        <form method="post">
            <div class="p-3 mt-4">
                <div class="row pb-2">
                    <h1 class="text-primary text-center display-5 tracking-in-expand">Добавление учителя</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="FIO" asp-for="FIO">
                        <label for="floatingInput" asp-for="FIO"></label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" placeholder="Post" asp-for="Post">
                        <label for="floatingPassword" asp-for="Post"></label>
                    </div>
                    <div class="row g-3">
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Qualification" asp-for="Qualification">
                            <label for="floatingInput" asp-for="Qualification"></label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input type="number" class="form-control" placeholder="Experience" asp-for="Experience">
                            <label for="floatingPassword" asp-for="Experience"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-floating mb-3 col">
                            <input class="form-control" placeholder="Tel_Num" asp-for="Tel_Num">
                            <label for="floatingInput" asp-for="Tel_Num"></label>
                        </div>
                        <div class="form-floating col">
                            <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday">
                            <label for="floatingPassword" asp-for="Birthday"></label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <a asp-asp-controller="Teacher" asp-action="Index" class="btn btn-primary w-100">Вернуться к списку</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success w-100">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
