@{
    ViewData["Title"] = "Здоровье и питание";
}

<script src="~/js/fullscreen.js"></script>

<hr />
<h1 class="text-center tracking-in-expand noselect">Здоровье и питание</h1>
<hr />
<div style="height: max-content;">
    @*    <img id="image" src="/img/health.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="5" vspace="5" align="right" onClick="makeFullScreen()">*@
    <p>
        Медицинский блок представлен кабинетом врача, процедурным кабинетом, изолятором,
        физ. кабинетом, в которых работает врач и медицинская сестра. В течение всего учебного
        периода детям оказывается медицинская помощь, проводятся плановая вакцинация и
        осмотры врачами-специалистами.
    </p>
    <div class="row">
        <div class="col-8">
            <p>
                Медицинским персоналом отслеживается качество меню на предмет сбалансированности
                по белкам, жирам и углеводам (БЖУ).
            </p>
            <p>
                Ежедневно в питании детей присутствует молоко, сливочное масло, мясо, рыба, овощи и
                фрукты. Приготовление блюд осуществляют 4 высококвалифицированных повара. В зимний
                и весенний периоды проводится витаминизация третьих блюд. Во время эпидемии гриппа
                активно идет профилактическая работа, благодаря чему показатели заболеваемости детей по
                школе «Елена-Сервис» ежегодно ниже среднего.
            </p>
        </div>
        <div class="text-center col-4">
            <h4 class="pb-1">Расписание</h4>
            <table class="table table-hover table-sm w-100">
                <tbody>
                    <tr>
                        <td><b>Завтрак (1 смена)</b></td>
                        <td>8:45-9:00</td>
                    </tr>
                    <tr>
                        <td><b>Завтрак (2 смена)</b></td>
                        <td>9:45-10:00</td>
                    </tr>
                    <tr>
                        <td><b>Обед (1 смена)</b></td>
                        <td>11:40-11:55</td>
                    </tr>
                    <tr>
                        <td><b>Обед (2 смена)</b></td>
                        <td>12:40-12:55</td>
                    </tr>
                    <tr>
                        <td><b>Обед (3 смена)</b></td>
                        <td>13:40-13:55</td>
                    </tr>
                    <tr>
                        <td><b>Полдник (1 смена)</b></td>
                        <td>15:30-15:40</td>
                    </tr>
                    <tr>
                        <td><b>Полдник (2 смена)</b></td>
                        <td>15:55-16:05</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
