@{
    ViewData["Title"] = "Главная";
}

<header class="hero-nav hero-nav__inner">
    <nav class="navbar navbar-expand-lg navbar-dark main-nav">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FRDZ School Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav me-auto ml-auto text-uppercase f1">
                    <li class="nav-item">
                        <a class="nav-link active active-first" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Teacher" asp-action="Index">Учителя</a>
                    </li>
                    @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    </li>*@
                </ul>
                @*                    <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Поиск">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>*@
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="display-4">Здравствуйте</h1>
    <div>Информация отсутсвует. Пока...</div>
</div>
